# Задача 1

Разделить таблицу данных так, чтобы в обучающую выборку попало 66% наблюдений, а в тестовую выборку 33% наблюдений.

In [6]:
import pandas as pd
import numpy as np

In [7]:
# исходная таблица
df = pd.read_csv("./data/beverage_r.csv", sep = ';').drop(columns = 'numb.obs')
df

    COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
0      1       0        0      0      1       1    0        1
1      1       0        0      0      1       0    0        0
2      1       0        0      0      1       0    0        0
3      0       1        0      1      0       0    1        0
4      1       0        0      0      1       0    0        0
5      1       0        0      0      1       1    0        0
6      0       1        1      1      0       0    1        0
7      1       1        0      0      1       1    0        1
8      1       1        0      0      0       1    1        1
9      1       0        0      0      1       0    0        1
10     1       0        0      0      1       1    0        0
11     0       1        0      0      0       0    1        0
12     0       0        1      1      0       1    0        1
13     1       0        0      0      0       1    0        0
14     0       1        1      0      0       0    1        0
15     0       0        0      0      1       1    0        0
16     0       1        0      0      0       1    0        0
17     1       1        0      0      1       0    0        0
18     1       0        0      0      0       0    0        1
19     1       1        1      0      1       0    0        0
20     1       0        0      0      1       0    0        0
21     1       0        0      0      1       0    0        0
22     0       1        0      1      0       0    1        0
23     1       1        0      0      1       0    0        0
24     0       1        1      1      0       0    0        0
25     0       1        0      1      0       0    1        0
26     0       1        0      0      0       0    1        0
27     1       0        0      0      0       1    0        1
28     1       0        0      0      0       1    0        0
29     0       1        1      0      0       0    1        0
30     1       0        0      0      1       0    0        1
31     0       1        1      0      0       0    1        0
32     1       0        0      0      1       0    0        1
33     0       1        1      1      0       0    1        0

In [16]:
# Число строк в таблице
len(df)

34

In [ ]:
# перемешиваем индексы
np.random.seed(seed = 42)
indices = np.random.permutation(len(df))
indices

array([15, 19, 27, 26,  8, 24, 21, 12, 32,  9,  0,  4, 16, 17,  5, 13, 11,
        1,  2, 30,  3, 29, 23, 31, 22, 18, 25,  6, 20, 33,  7, 10, 14, 28],
      dtype=int32)

In [ ]:
train_size = int(0.66 * len(df))

# тренировочная выборка
train_df = df.iloc[indices[:train_size]]
train_df

    COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
15     0       0        0      0      1       1    0        0
19     1       1        1      0      1       0    0        0
27     1       0        0      0      0       1    0        1
26     0       1        0      0      0       0    1        0
8      1       1        0      0      0       1    1        1
24     0       1        1      1      0       0    0        0
21     1       0        0      0      1       0    0        0
12     0       0        1      1      0       1    0        1
32     1       0        0      0      1       0    0        1
9      1       0        0      0      1       0    0        1
0      1       0        0      0      1       1    0        1
4      1       0        0      0      1       0    0        0
16     0       1        0      0      0       1    0        0
17     1       1        0      0      1       0    0        0
5      1       0        0      0      1       1    0        0
13     1       0        0      0      0       1    0        0
11     0       1        0      0      0       0    1        0
1      1       0        0      0      1       0    0        0
2      1       0        0      0      1       0    0        0
30     1       0        0      0      1       0    0        1
3      0       1        0      1      0       0    1        0
29     0       1        1      0      0       0    1        0

In [ ]:
# тестовая выборка
test_df = df.iloc[indices[train_size:]]

In [44]:
# соотношение размеров
f'{len(train_df) / len(df):.2f}, {len(test_df) / len(df):.2f}'

'0.65, 0.35'

# Задача 2

Разделить таблицу данных на четыре одинаковых части.

In [45]:
r1 = np.random.uniform(low = 0, high = 1.0, size = len(df))

# 3 квантиля
q1 = np.quantile(r1, 0.25)
q2 = np.quantile(r1, 0.50)
q3 = np.quantile(r1, 0.75)
q1, q2, q3

(np.float64(0.21445033201877403),
 np.float64(0.504705674262441),
 np.float64(0.7524078741488751))

In [47]:
# разделям данные по квартилям
part1 = df.iloc[r1 < q1]
part2 = df.iloc[(r1 >= q1) & (r1 < q2)]
part3 = df.iloc[(r1 >= q2) & (r1 < q3)]
part4 = df.iloc[r1 >= q3]

In [48]:
part1

    COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
0      1       0        0      0      1       1    0        1
5      1       0        0      0      1       1    0        0
8      1       1        0      0      0       1    1        1
10     1       0        0      0      1       1    0        0
11     0       1        0      0      0       0    1        0
16     0       1        0      0      0       1    0        0
19     1       1        1      0      1       0    0        0
21     1       0        0      0      1       0    0        0
28     1       0        0      0      0       1    0        0

In [49]:
part2

    COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
1      1       0        0      0      1       0    0        0
2      1       0        0      0      1       0    0        0
3      0       1        0      1      0       0    1        0
15     0       0        0      0      1       1    0        0
18     1       0        0      0      0       0    0        1
20     1       0        0      0      1       0    0        0
23     1       1        0      0      1       0    0        0
25     0       1        0      1      0       0    1        0

In [50]:
part3

    COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
6      0       1        1      1      0       0    1        0
7      1       1        0      0      1       1    0        1
9      1       0        0      0      1       0    0        1
17     1       1        0      0      1       0    0        0
24     0       1        1      1      0       0    0        0
26     0       1        0      0      0       0    1        0
27     1       0        0      0      0       1    0        1
33     0       1        1      1      0       0    1        0

In [51]:
part4

    COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
4      1       0        0      0      1       0    0        0
12     0       0        1      1      0       1    0        1
13     1       0        0      0      0       1    0        0
14     0       1        1      0      0       0    1        0
22     0       1        0      1      0       0    1        0
29     0       1        1      0      0       0    1        0
30     1       0        0      0      1       0    0        1
31     0       1        1      0      0       0    1        0
32     1       0        0      0      1       0    0        1

In [99]:
# соотношение размеров
f'{len(part1) / len(df):.2f}, {len(part2) / len(df):.2f}, {len(part3) / len(df):.2f}, {len(part4) / len(df):.2f}'

'0.26, 0.24, 0.24, 0.26'

# Задача 3

Разделить таблицу данных на две стратифицированные подвыборки.
По переменным кока-кола (**COKE**) и минералка (**TAB**).

In [71]:
df['strata'] = df['COKE'].astype(str) + '_' + df['TAB'].astype(str)
df

    COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP strata
0      1       0        0      0      1       1    0        1    1_0
1      1       0        0      0      1       0    0        0    1_0
2      1       0        0      0      1       0    0        0    1_0
3      0       1        0      1      0       0    1        0    0_1
4      1       0        0      0      1       0    0        0    1_0
5      1       0        0      0      1       1    0        0    1_0
6      0       1        1      1      0       0    1        0    0_1
7      1       1        0      0      1       1    0        1    1_0
8      1       1        0      0      0       1    1        1    1_1
9      1       0        0      0      1       0    0        1    1_0
10     1       0        0      0      1       1    0        0    1_0
11     0       1        0      0      0       0    1        0    0_1
12     0       0        1      1      0       1    0        1    0_0
13     1       0        0      0      0       1    0        0    1_0
14     0       1        1      0      0       0    1        0    0_1
15     0       0        0      0      1       1    0        0    0_0
16     0       1        0      0      0       1    0        0    0_0
17     1       1        0      0      1       0    0        0    1_0
18     1       0        0      0      0       0    0        1    1_0
19     1       1        1      0      1       0    0        0    1_0
20     1       0        0      0      1       0    0        0    1_0
21     1       0        0      0      1       0    0        0    1_0
22     0       1        0      1      0       0    1        0    0_1
23     1       1        0      0      1       0    0        0    1_0
24     0       1        1      1      0       0    0        0    0_0
25     0       1        0      1      0       0    1        0    0_1
26     0       1        0      0      0       0    1        0    0_1
27     1       0        0      0      0       1    0        1    1_0
28     1       0        0      0      0       1    0        0    1_0
29     0       1        1      0      0       0    1        0    0_1
30     1       0        0      0      1       0    0        1    1_0
31     0       1        1      0      0       0    1        0    0_1
32     1       0        0      0      1       0    0        1    1_0
33     0       1        1      1      0       0    1        0    0_1

In [94]:
# индексы тренировочных и тестовых строк
train_indices, test_indices = [], []

In [95]:
strata_unique = df['strata'].unique()

for stratum in strata_unique:
    stratum_indices = df[df['strata'] == stratum].index.to_list()
    
    np.random.shuffle(stratum_indices)

    mid = len(stratum_indices) // 2

    train_indices.append(stratum_indices[:mid])
    test_indices.append(stratum_indices[mid:])

In [96]:
from itertools import chain

train_indices = list(chain(*train_indices))
test_indices = list(chain(*test_indices))

In [ ]:
# тренировочная выборка
train_df = df.loc[train_indices].drop('strata', axis = 1)
train_df

    COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
18     1       0        0      0      0       0    0        1
23     1       1        0      0      1       0    0        0
10     1       0        0      0      1       1    0        0
17     1       1        0      0      1       0    0        0
21     1       0        0      0      1       0    0        0
13     1       0        0      0      0       1    0        0
4      1       0        0      0      1       0    0        0
20     1       0        0      0      1       0    0        0
32     1       0        0      0      1       0    0        1
11     0       1        0      0      0       0    1        0
33     0       1        1      1      0       0    1        0
31     0       1        1      0      0       0    1        0
26     0       1        0      0      0       0    1        0
6      0       1        1      1      0       0    1        0
15     0       0        0      0      1       1    0        0
24     0       1        1      1      0       0    0        0

In [ ]:
# тестовая выборка
test_df = df.loc[test_indices].drop('strata', axis = 1)
train_df

    COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
18     1       0        0      0      0       0    0        1
23     1       1        0      0      1       0    0        0
10     1       0        0      0      1       1    0        0
17     1       1        0      0      1       0    0        0
21     1       0        0      0      1       0    0        0
13     1       0        0      0      0       1    0        0
4      1       0        0      0      1       0    0        0
20     1       0        0      0      1       0    0        0
32     1       0        0      0      1       0    0        1
11     0       1        0      0      0       0    1        0
33     0       1        1      1      0       0    1        0
31     0       1        1      0      0       0    1        0
26     0       1        0      0      0       0    1        0
6      0       1        1      1      0       0    1        0
15     0       0        0      0      1       1    0        0
24     0       1        1      1      0       0    0        0

In [100]:
df[['COKE', 'TAB']].value_counts(normalize = True)

COKE  TAB
1     0      0.558824
0     1      0.294118
      0      0.117647
1     1      0.029412
Name: proportion, dtype: float64

In [101]:
train_df[['COKE', 'TAB']].value_counts(normalize = True)

COKE  TAB
1     0      0.5625
0     1      0.3125
      0      0.1250
Name: proportion, dtype: float64

In [102]:
test_df[['COKE', 'TAB']].value_counts(normalize = True)

COKE  TAB
1     0      0.555556
0     1      0.277778
      0      0.111111
1     1      0.055556
Name: proportion, dtype: float64