# Задача 1

Разделить таблицу данных так, чтобы в обучающую выборку попало 66% наблюдений, а в тестовую выборку 33% наблюдений.

In [5]:
import pandas as pd

df = pd.read_csv("./data/beverage_r.csv", sep = ';').drop(columns = 'numb.obs')
df

    COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
0      1       0        0      0      1       1    0        1
1      1       0        0      0      1       0    0        0
2      1       0        0      0      1       0    0        0
3      0       1        0      1      0       0    1        0
4      1       0        0      0      1       0    0        0
5      1       0        0      0      1       1    0        0
6      0       1        1      1      0       0    1        0
7      1       1        0      0      1       1    0        1
8      1       1        0      0      0       1    1        1
9      1       0        0      0      1       0    0        1
10     1       0        0      0      1       1    0        0
11     0       1        0      0      0       0    1        0
12     0       0        1      1      0       1    0        1
13     1       0        0      0      0       1    0        0
14     0       1        1      0      0       0    1        0
15     0       0        0      0      1       1    0        0
16     0       1        0      0      0       1    0        0
17     1       1        0      0      1       0    0        0
18     1       0        0      0      0       0    0        1
19     1       1        1      0      1       0    0        0
20     1       0        0      0      1       0    0        0
21     1       0        0      0      1       0    0        0
22     0       1        0      1      0       0    1        0
23     1       1        0      0      1       0    0        0
24     0       1        1      1      0       0    0        0
25     0       1        0      1      0       0    1        0
26     0       1        0      0      0       0    1        0
27     1       0        0      0      0       1    0        1
28     1       0        0      0      0       1    0        0
29     0       1        1      0      0       0    1        0
30     1       0        0      0      1       0    0        1
31     0       1        1      0      0       0    1        0
32     1       0        0      0      1       0    0        1
33     0       1        1      1      0       0    1        0

# Задача 2

Разделить таблицу данных на четыре одинаковых части.

# Задача 3

Разделить таблицу данных на две стратифицированные подвыборки.
По переменным кока-кола (**COKE**) и минералка (**TAB**).